<div id="chat" class="row container d-flex justify-content-center invisible">
    <i class="d-none user-data" data-uname="<%= user.username %>" data-psw="<%= user.password %>"></i>
    <div class="col-md-5">
        <div class="card card-bordered">
            <div class="card-header">
                <h4 class="card-title"><strong>Chat</strong></h4>
                <a class="btn btn-xs btn-secondary" id="logout">Logout</a>
            </div>

            <div class="ps-container ps-theme-default ps-active-y" id="chat-content"></div>

            <div class="publisher bt-1 border-light">
                <img class="avatar avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png"
                    alt="...">
                <input class="publisher-input" type="text" id="message" placeholder="Write something">
                <span class="publisher-btn file-group">
                    <i class="fa fa-paperclip file-browser"></i>
                    <input type="file">
                </span>
                <a class="publisher-btn" href="#" data-abc="true"><i class="fa fa-smile"></i></a>
                <a class="publisher-btn text-info" data-abc="true"><i id="send" class="fa fa-paper-plane"></i></a>
            </div>
        </div>
    </div>
</div>