<form name="login" action="/" method="POST" id="loginForm">
    <div class="imgcontainer">
        <img src="./images/img_avatar2.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
        <label for="uname"><b>Username</b></label>
        <input class="form-control" type="text" placeholder="Enter Username" name="uname" required>

        <label for="psw"><b>Password</b></label>
        <input class="form-control" type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit" class="btn btn-success w-100 py-2 my-2">Login</button>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancel-btn btn btn-outline-danger">Cancel</button>
        <span class="psw">Still don't have an account? <a class="link sign-up" role="button">Register</a></span>
    </div>
</form>